#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 10px;
  justify-items: center; 
  align-items: start; 
  padding: 20px; 
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column; /* Contenu empilé verticalement */
  justify-content: space-between; /* Assure que le bouton est au bas de la carte */
  border: 1px solid #007bff;
  padding: 16px;
  border-radius: 8px;
  text-align: center;
  background-color: #f9f9f9;
  width: 100%;
  box-sizing: border-box;
  min-height: max-content;
}


.card-image {
  width: 100%;
  height: auto;
}

.card-image img {
  width: 100%;
  max-height: 300px; /* Limiter la hauteur de l'image */
  object-fit: cover; /* Coupe l'image si nécessaire */
  border-radius: 8px;
}

.card-content {
  flex-grow: 1;
  padding: 10px 0;
}

.card-content h2 {
  font-size: 1.5rem;
  margin: 12px 0;
}

.card-content p {
  font-size: 1rem;
  color: #666;
}

.card footer {
  display: flex;
  justify-content: space-evenly;
}

.delete-button {
  background-color: hsl(0, 100%, 50%);
  color: #0A0A0A;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

body .card-content {
  display: flex;
  flex-direction: column;
}

.details-button {
  background-color: #007bff;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.details-button:hover {
  background-color: #0056b3;
}

.read-the-docs {
  color: #888;
}

nav {
  width: 100%;
}
nav ul {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 50vw;
  margin: 50px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  font-size: 1.1em;
  margin-bottom: 10px;
  font-weight: bold;
}

form input[type="text"],
form input[type="number"],
form textarea,
form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

form button {
  display: inline-block;
  width: 100%;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #0056b3;
}

.recipe-flex-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.recipe-flex-container img {
/*   width: 50vw;
  height: auto; */
  max-height: 50vh;
  width: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.recipe-flex-container img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 40px rgba(0, 0, 0, 0.2);
}

.recipe-flex-container div {
  max-width: 75%;
}
.recipe-flex-container p {
  text-align: left;
  padding: 5px 10px;
}
